header {
    width: 100%;
    height: 52px;
    background-color: #2D333B;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5rem;
    color: #FFFFFF;
}